.monsterPage
  .monsterTitle
    h2.greet Hello!! <br>We Are Monsters!!!
    h3 Let's be friends!!
    h5 Come on!!
  .monster
    .eye
      .eyeBall
    .mouth
  .monster.blue
    .eye
      .eyeBall
    .mouth
.loadingPage
  .monster
    .eye
      .eyeBall
    .mouth
  .loading
    .bar
  